body, header, h1, h2, h3, h4, h5, h6, p, a, img, header, section, article, footer, div, aside, nav, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: centuryGothic;
    src: url(../fonts/CENTURYGOTHIC.TTF);
}
@font-face {
    font-family: centuryGothic;
    src: url(../fonts/CENTURYGOTHIC.TTF);
}
@font-face {
    font-family: centuryGothicBold;
    src: url(../fonts/CENTURYGOTHIC-BOLD.TTF);
}
@font-face {
    font-family: roboto;
    src: url(../fonts/ROBOTO-REGULAR.TTF);
}
@font-face {
    font-family: robotoCond;
    src: url(../fonts/RobotoCondensed-Regular.ttf);
}
body {
    font-family: roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.newNavbar {
    width: 70%;
    margin: 0 auto;
    /*padding: 10px;*/
}
header {
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 2000;
    width: 100%;
}
.menu {
    text-align: right;
}
.logo {
    margin-top: 10px;
    width: 130px;
}
.menu li {
    display: inline-block;
    /*height: 40px;*/
    padding: 25px 0 25px 0;
    font-weight: bold;
    border-top: 4px solid white;
}
.menu li a {
    text-decoration: none;
    color: #247dba;
}
.menu li:first-of-type {
    margin-right: 20px;
}
.menu li:hover {
    border-top: 4px solid #247dba;
}
.menu li:last-of-type {
    margin-left: 15px;
}
.section1 {
    background-image: url("../img/First_Page.jpg");
    /*background-size: 100vh;*/
    background-size: cover;
    height: 200vh;
    background-attachment: fixed;
}
.fixedSone {
    width: 100%;
    position: fixed;
}
.section1  h2,.section1 h3,.section1 h4 {
    text-align: center;
    color: white;
}
.section1 h2 {
    font-size: 3.5em;
    font-weight: bold;
    margin-top: 18vh;
}
.section1 h3 {
    font-size: 2.5em;
}
.section1  h4 {
    font-size: 1.8em;
    font-family: centuryGothic,roboto, Helvetica, Arial, sans-serif;
    margin-top: 8vh;
}
.roundsOut {
    width: 100%;
    text-align: center;
}
.rounds {
    margin-bottom: 4vh;
    margin-top: 5vh;
    width: 180px;
    height: 180px;
    background-color: rgba(255,255,255,0.2);
    text-align: center;
    padding-top: 55px;
    padding-bottom: 55px;
    font-weight: bold;
    border-radius: 90px;
    border: 8px solid rgba(50,42,36,0.2);
    position: relative;
    display: inline-block;
}
.rounds:first-of-type {
    margin-right: 8%;
}
.rounds:last-of-type {
    margin-left: 8%;
}
.rounds p {
    font-size: 1.3em;
    color: white;
}
.rounds i {
    font-size: 4em;
    color: #4dcb40;
    position: absolute;
    top: 13px;
    right: 2px;
}
.roundsOut p:last-of-type {
    color: white;
    font-size: 1.1em;
}
.greendiv {
    width: 100%;
    background: url("../img/Green_Backrgound-01.png") no-repeat;
    height: 59vh;
    position: absolute;
    bottom: 0;
    background-position: top;
    background-size: cover;
    right: 0;
}
.formDiv {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.formDivInner {
    padding: 25px;
    margin: 0 auto;
    background-color: white;
    width: 70%;
}
.formDiv input, .formDiv input, select {
    height: 30px;
}
.formDiv  button {
    padding: 8px 2px 8px 2px;
    width: 180px;
}
.section2 {
    text-align: center;
    background-color: #edf1f4;
    position: relative;
}
.section2 h4 {
    margin-top: 50px;
    font-weight: bold;
    line-height: 120%;
}
.section2 p {
    margin-top: 50px;
    font-size: 1.2em;
    line-height: 150%;
}
.section1 button, .section2 button {
    border-radius: 0;
    background-color: #247dba;
}
.section2 button {
    margin-top: 20px;
}
.section2 button span {
    border: 1px solid white;
    height: 30px;
    width: 20px;
    display: inline-block;
    border-radius: 5px 0 0 0;
    margin: 2px 0 0 4px;
    padding-top: 6px

}
.section2 img {
    width: 100%;
    margin-top: 80px;
}
.section2col {
    width: 70%;
    margin: 0 auto;
}
.frstColon ,.secColon, .trhColon {
    margin-top: 40px;
}
.frstColon a,.secColon a, .trhColon a{
    text-align: left;
    display: block;
    margin-bottom: 8px;
    font-size: 1.4em;
    color: #2c3134;
    text-decoration: none;
    transition: color 0.4s;
}
.frstColon a:hover, .secColon a:hover, .trhColon a:hover {
    color: rgba(0,0,0,0.5);
}

.frstColon a, .secColon a:first-of-type, .trhColon a:first-of-type {
    font-weight: bold;
    margin-bottom: 20px;
}
.section2col img {
    width: 160px;
}
.footer {
    margin-top: 100px;
    height: 70px;
    /*padding: 20px 0;*/
    background-color: white;
    position: relative;
}
.innerfooter {
    width: 70%;
    margin: 0 auto;
}
.innerfooter i {
    margin-right: 8px;
}
.mail a, .phone span, .blog a {
    color: #2c3134;
    font-size: 1.2em;
    text-decoration: none;
    transition: color 0.4s
}
.mail a:hover, .blog a:hover {
    color: rgba(0,0,0,0.5);
}
.social a {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: gray;
    padding: 10px 0;
    transition: background 0.4s;
}
.social .fb {
    background-color: #3460a1;
}

.social .tw {
    background-color: #28a9e2;
}
.social .gp {
    background-color: #de5543;
}
.social .in {
    background-color: #1884bb;
}
.social a:hover {
    background-color: rgba(0,0,0,0.4);
}
.social a i {
    font-size: 1.5em;
    color: white;
}
.mail, .phone,  .blog{
margin-top: 20px;
}
.social {
    margin-top: 10px;
}
.col-xs-12 {
    padding: 0;
}
.smaller .greendiv {
    position: fixed;
}
#toggle {
    font-size: 22px;
    background-color: rgba(36, 125, 186, 0.7);
    padding: 7px;
    position: absolute;
    right: 0;
    top: 34px;
    color: rgba(255,255,255,0.6);
    display: none;
    cursor: pointer;
}
#toggle:hover {
    background-color: rgba(36, 125, 186, 1);
}

@media (max-width: 1200px) {
    body {
        font-size: 10px;
    }
    .footer .social {
        width: 100%;
        text-align: left;
    }
    .social a {
        text-align: center;
    }
    .footer {
        height: 120px;
    }
    .mail, .phone, .blog {
        width: 33.33%;
        text-align: left;
    }
    .section1 button {
        display: block;
        margin: 15px auto 0 auto;
    }
}

@media (max-width: 860px) {
    header {
        height: 70px;
    }
    .mail, .phone, .blog {
        width: 100%;
        text-align: center;
    }
    .footer {
        height: 180px;
    }
    .footer .social {
        text-align: center;
    }
    .menu  {
        position: absolute;
        right: 0;
        top: 70px;
        background-color: rgba(36, 125, 186, 0.9);
        width: 100%;
        padding: 10px 0 0 0 ;
        text-align: center;
        margin: 0;
        display: none;
    }
    .menu li:first-of-type  {
        margin: 0;
    }
    .menu li a {
            color: white;
       }
    .menu li {
        border: 1px solid rgba(36, 125, 186, 0.9);
        width: 100%;
        /*display: none;*/
    }
    .menu li:hover {
        border: 1px solid white;
        background-color: rgba(36, 125, 186, 1);
        /*display: none;*/
    }
    .formDivInner {
        width: 80%;
    }
    .menu li:last-of-type {
        margin: 0;
    }
    #toggle {
        display: inline-block;
    }
    .section2col {
        font-size: 0.8em;
    }
}
@media (max-width: 700px) {
    .formDivInner {
        width: 100%;
    }
    .greendiv {
        height: 500px;
    }
    .formDivInner input, .formDivInner select{
        width: 80%;
        margin-top: 10px;
    }
    .rounds:first-of-type {
        margin-right: 2%;
    }
    .rounds:last-of-type {
        margin-left: 2%;
    }
    .rounds {
        width: 120px;
        height: 120px;
        padding-top: 40px;
        padding-bottom: 20px;
        border-radius: 60px;
        font-size: 0.8em;
    }
    .rounds p {
        font-size: 1.3em;
        color: white;
    }
    .section2col {
       width: 100%;
    }
    .rounds i {
        font-size: 2em;
        top: 0;
    }
    }
@media (max-width: 400px) {
    .frstColon a, .secColon a, .trhColon a {
        text-align: center;
        font-size: 1.8em;
    }
    .section2col div{
        width: 100%;
        float: none;
        margin: 40px  auto 0 auto;
    }
    .section2col img {
        margin: 20px auto 0 auto;
        width: 90%;
    }
    .footer .social {
        padding: 0;
    }
    /*.section2col img {*/
        /*margin: 0 auto;*/
    /*}*/
    .section1  h2 {
        font-size: 3em;
    }
    .section1  h3 {
        font-size: 2em;
    }
    .section1  h4 {
        font-size: 1.5em;
    }
    .rounds:first-of-type {
        margin-right: 0;
    }
    .rounds:last-of-type {
        margin-left: 0;
        margin-top: -20px;
    }
    .greendiv {
        height: 800px;
    }
}